*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #b6e7a1;
}
header{
    padding: 16px;
    background-color:#299c0c;
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
    font-style: oblique;
}
#galeria{
    background-color:  #ffaacb;
    width: 100vw;
    overflow-x: hidden;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    margin: 20px;
    gap: 40px;
    width: 200px;
    height: 200px;
}
.carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    border-radius: 20px;
    margin: 30px auto;
    width: 1200px;
}

.carrossel-img {
    width: 950px;
    height: 650px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin: 0 24px;
    transition: transform 0.3s;
}

.carrossel-img-legenda {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrossel-legenda {
    color: white;
    padding: 30px;
    font-size: 30px;
}
.carrossel-btn {
    background: #045f21;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    width: 48px;
    height: 48px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(243,3,123,0.2);
    transition: background 0.2s;
}
.carrossel-btn:hover {
    background: #047027;
}